In [3]:
import sys
sys.path.append("../")
from src import soporte as sp
from src import variables as var

In [4]:
country_list = ["Canada", "United States", "Argentina"]

In [5]:
api = sp.Unis_Countries(country_list)

In [6]:
df_uni_countries = api.calling_api()

La peticion se ha realizado correctamente, se ha devuelto el código de estado: 200  y como razón del código de estado:  OK
La peticion se ha realizado correctamente, se ha devuelto el código de estado: 200  y como razón del código de estado:  OK
La peticion se ha realizado correctamente, se ha devuelto el código de estado: 200  y como razón del código de estado:  OK

In [7]:
df_uni_countries = api.clean(df_uni_countries)

In [8]:
df_uni_countries = api.expand_rows(df_uni_countries, "web_pages")

In [9]:
df_uni_countries.head(4)

,state_province,name,country,web_pages,alpha_two_code
0,Quebec,Cégep de Saint-Jérôme,Canada,https://www.cstj.qc.ca,CA
1,Quebec,Cégep de Saint-Jérôme,Canada,https://ccmt.cstj.qc.ca,CA
2,Quebec,Cégep de Saint-Jérôme,Canada,https://ccml.cstj.qc.ca,CA
3,Ontario,Lambton College,Canada,https://www.lambtoncollege.ca,CA

In [18]:
type(df_uni_countries["web_pages"])

pandas.core.series.Series

In [10]:
api.locating_duplicates_unis(df_uni_countries, "name")

'En la columna name hay 28 nombres de universidades duplicados.'

In [11]:
api.erasing_duplicates(df_uni_countries, "name")

'Ahora hay 0 duplicados.'

In [12]:
api.change_null(df_uni_countries, "state_province")

,state_province,name,country,web_pages,alpha_two_code
0,Quebec,Cégep de Saint-Jérôme,Canada,https://www.cstj.qc.ca,CA
3,Ontario,Lambton College,Canada,https://www.lambtoncollege.ca,CA
4,Nova Scotia,Acadia University,Canada,http://www.acadiau.ca/,CA
5,Ontario,Algonquin College,Canada,http://www.algonquincollege.com/,CA
6,British Columbia,Ashton College,Canada,http://www.ashtoncollege.com/,CA
...,...,...,...,...,...
2530,Buenos Aires,Universidad Nacional de Tres de Febrero,Argentina,http://www.untref.edu.ar/,AR
2531,Ciudad Autónoma de Buenos Aires,Universidad Torcuato di Tella,Argentina,http://www.utdt.edu/,AR
2532,Ciudad Autónoma de Buenos Aires,Universidad Tecnológica Nacional,Argentina,http://www.utn.edu.ar/,AR
2533,Ciudad Autónoma de Buenos Aires,Universidad Abierta Interamericana,Argentina,http://www.vaneduc.edu.ar/uai/,AR
2534,Unknown,Universidad Nacional de Villa María,Argentina,http://webs.satlink.com/usuarios/i/iiunvm/,AR

In [13]:
df_uni_countries = api.incluir_coordenadas(df_uni_countries, "state_province")

In [14]:
df_uni_countries.head()

,state_province,name,country,web_pages,alpha_two_code,latitud,longitud
0,Quebec,Cégep de Saint-Jérôme,Canada,https://www.cstj.qc.ca,CA,52.476089,-71.825867
3,Ontario,Lambton College,Canada,https://www.lambtoncollege.ca,CA,50.000678,-86.000977
4,Nova Scotia,Acadia University,Canada,http://www.acadiau.ca/,CA,45.196040,-63.165379
5,Ontario,Algonquin College,Canada,http://www.algonquincollege.com/,CA,50.000678,-86.000977
6,British Columbia,Ashton College,Canada,http://www.ashtoncollege.com/,CA,55.001251,-125.002441

In [15]:
api.create_bbdd("uni_countries", "AlumnaAdalab")

Conexión realizada con éxito

In [16]:
api.create_tables()